@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Open Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /*background-image: url('../assets/rochlitzcastle_background.webp');*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

#root {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* App.tsx grid */

.calendar-layout {
  display: grid;
  min-height: 100vh;
  column-gap: 2rem;
}

/* Mobile */
.calendar-layout {
  grid-template-columns: 1fr;
  column-gap: 0;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/* Tablet */
@media (min-width: 768px) {
  .calendar-layout {
    grid-template-columns: 300px 1fr;
    row-gap: 0;
    column-gap: 0.5rem;
    grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .calendar-layout {
    grid-template-columns: 360px 1fr;
    grid-template-rows: 5rem 1fr 2.5rem;
    column-gap: 1rem;
    grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
  }
}

.area-header { grid-area: header; }
.area-main { grid-area: main; }
.area-sidebar { grid-area: sidebar; }
.area-footer { grid-area: footer; }
